Excercise 1

In [2]:
num=int(input("Enter a number between 1 and 12 :"))
if num<1 or num>12:
    print("Enter a valid number between 1 and 12.")
else :    
    months=["January","February","March","April","May","June","July","August","September","October","November","December"]
    if  num >=1 or num<=12 :
        print(f"Month corresponding to {num} is : {months[num-1]}")

Enter a number between 1 and 12 : 7

Month corresponding to 7 is : July


Excercise 2

In [6]:
ticket = 6.0
age=int(input("Enter your age :"))
if age >=60:
    ticket/=3
if age<16 :
    ticket/=2
print(f"Your ticket costs £{ticket} ")

Enter your age : 70

Your ticket costs £2.0


Excercise 3

In [10]:
while True:
    height = float(input("Enter height in (m): "))
    if height <= 0:
        print("Invalid height! Please enter a valid height in meters (greater than 0).")
    else:
        break
while True:
    weight = float(input("Enter weight in (kg): "))
    if weight <= 0:
        print("Invalid weight! Please enter a valid height in meters (greater than 0).")
    else:
        break

bmi= weight/height**2
print("Your Body Mass Index(BMI) is :",bmi)
if bmi <18.5:
    status="UNDERWEIGHT"
elif 18.5 <= bmi <= 24.9:
    status="NORMAL"
elif 25 <= bmi <= 29.9:
    status="OVERWEIGHT"
else:
    status="OBESE"
print(f"According to BMI you come under the {status} category")

Enter height in (m):  1.6
Enter weight in (kg):  50

Your Body Mass Index(BMI) is : 19.531249999999996
According to BMI you come under the NORMAL category


Excercise 4

In [12]:
list=[]
i=0
while i<3:
    list.append(input(f"Enter number {i+1} :")) 
    i+=1
print("The list of nymbers is :",list)
print("The greatest number in the list is :",max(list))

Enter number 1 : 70]
Enter number 2 : 45
Enter number 3 : 98

The list of nymbers is : ['70]', '45', '98']
The greatest number in the list is : 98


Excercise 5

In [14]:
num=int(input("Enter the number:"))
if num<0:
    print("Negative numbers dont have factorials!!")
else :    
    factorial=1
    if num>1:
        for i in range(1,num+1):
            factorial*=i 
    print(f"Factorial of {num} is {factorial}.")

Enter the number: 12

Factorial of 12 is 479001600.


Excercise 6

In [16]:
num = int(input("Enter a number: "))
if num < 0:
    print("Enter a valid number!!")
num1=num
rev_num = 0

while num > 0:
    digit = num % 10
    rev_num = rev_num * 10 + digit
    num //= 10                        # //is the floor operator

print(f"The reversed number corresponding to {num1} is : {rev_num}")

Enter a number:  730278

The reversed number corresponding to 730278 is : 872037

Excercise 7

In [18]:
num=int(input("Enter the number :"))
limit=int(input("Enter the range limit :"))
print(f"{limit} multiples of {num} are :")
for i in range(1,limit+1):
    print(num*i)

Enter the number : 9
Enter the range limit : 7

7 multiples of 9 are :
9
18
27
36
45
54
63

Excercise 8

In [20]:
while True:
    val=input("Enter youe input :")
    if val.casefold()=="done":        # casefold() is used to perform case-insensitive string comparison
        print(val)
        break
    print(val)

Enter youe input : Hello

Hello

Enter youe input : Achal

Achal

Enter youe input : Done

Done

Excercise 9

In [22]:
for i in range(1,11):
    if i%3==0 and i%5==0 :
        print("FizzBuzz")
    elif i%3==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz

Excercise 10

In [24]:
num=5
print("The required series is :")
while num>0:
    for i in range(num,0,-1):
        print(i, end=" ")
    num-=1

The required series is :
5 4 3 2 1 4 3 2 1 3 2 1 2 1 1

Another way of printing the output series

In [26]:
num=5
print("The required series is :")
while num>0:
    for i in range(num,0,-1):
        print(i, end=" ")
    print()
    num-=1

The required series is :
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1